// Background Color 
$white: #ffffff;  	
$black: #070707;		
$yellow: #ffea00; 
$offwhite: #E8E8E8;		

// btn Colors
$darkbrown: #323232;	
$medbrown: #534747;  		
$lightbrown: #534747;   	
$tanbrown: #cbbeaa;		

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Gudea', sans-serif;